/* Box Model Hack */
*, *:before, *:after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clear fix hack */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;

}

.clear {
    clear: both;
}

html * {
    outline: red 1px solid;
}
/**Base styles*/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
}

h1 {
    margin: 0 0 0 0;
}
@media (max-width: 1439px) {
    h1 {
        text-align: center;
        margin: 10rem 0 0 0;
    }
    
}

.accordion__title, h1 {
    font-weight: 700;
}

/**-----------------------------*/
/**---Card graphic---*/
.card__graphic {
    width: 60%;
    height: 30%;
    position: absolute;
    top: -13.5%;
    left: 25%;
    z-index: 2;
    background: center -25% url("../images/bg-pattern-mobile.svg");
    filter: contrast(200%);
}

/* .card__graphic__shadow {
    width: 60%;
    position: absolute;
    top: -1.5%;
    left: 20%;
    z-index: 2;
    filter: contrast(200%);
}
.card__graphic__shadow img{
    filter: contrast(200%);
    width: 60%;
} */
.card {
    position: relative;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 10%;
    bottom: 10%;
    z-index: 1;
}

@media (max-width: 1439px) {
    .card {
        width: 80vw;
        height: 75vh;
    }
}

.accordion {
    padding: 2em 1.5em;
}

.accordion__content {
    /* display: block; */
    background-color: white;
}

.accordion__title {
   /* TODO Fix color */
    color: hsl(238, 29%, 16%);
    background-color: white;
    border: none;
    font-size: 2rem;
    
}

.accordion__title--active {
    font-weight: 400;
}

.accordion__item > p {
    font-size: 1.2rem;
    line-height: 1.5;
}
.accordion__arrow {
    font-size: 3rem;
    
}


hr {
    color: hsl(240, 5%, 91%);
    height: 2px;
    background-color: hsl(240, 5%, 91%);
    border: none;
    margin: .5em;
}



/* .accordion__title::after {
    content: url("../images/icon-arrow-down.svg");
    float: right;
    color: hsl(14, 88%, 65%);
}

.accordion__title::after.active {
    transform: rotate(180deg);
} */