/* Box Model Hack */
*, *:before, *:after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clear fix hack */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;

}

.clear {
    clear: both;
}

/* html * {
    outline: red 1px solid;
} */
/**Base styles*/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
}

h1 {
    margin: 0 0 0 0;
}
@media (max-width: 1439px) {
    h1 {
        text-align: center;
    }
    
}

.accordion__title, h1 {
    font-weight: 700;
}

/**-----------------------------*/

.card {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 10%;
    bottom: 15%;
}

@media (max-width: 1439px) {
    .card {
        width: 80vw;
        height: 75vh;
    }
}

.accordion {
    padding: 2em 1.5em;
}

.accordion__content {
    /* display: block; */
    background-color: white;
}

.accordion__title {
   /* TODO Fix color */
    color: hsl(238, 29%, 16%);
    background-color: white;
    border: none;
    font-size: 2rem;
    
}

.accordion__title--active {
    font-weight: 400;
}

.accordion__item > p {
    font-size: 1.2rem;
    line-height: 1.5;
}
.accordion__arrow {
    font-size: 3rem;
    
}


hr {
    color: hsl(240, 5%, 91%);
    height: 2px;
    background-color: hsl(240, 5%, 91%);
    border: none;
    margin: .5em;
}


/**---Card graphic---*/
.card__graphic img {
    width: 60%;
    position: relative;
    left: 50%;
}
/* .accordion__title::after {
    content: url("../images/icon-arrow-down.svg");
    float: right;
    color: hsl(14, 88%, 65%);
}

.accordion__title::after.active {
    transform: rotate(180deg);
} */