/* Box Model Hack */
*, *:before, *:after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clear fix hack */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;

}

.clear {
    clear: both;
}

/* html * {
    outline: red 1px solid;
} */
/**Base styles*/
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-image: url("/frontendMentor/profile-card-component/images/bg-pattern-top.svg"), url("/frontendMentor/profile-card-component/images/bg-pattern-bottom.svg");
    background-origin: border-box, border-box;
    background-position: top -60vh right 50vw, bottom -60vh right -180vw;
    display: flex;
    background-repeat: no-repeat, no-repeat;
}

.card {
    /* display: flex; 
    flex-direction: column;  */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50rem;
    max-width: 100%;
    height: fit-content;
    max-width: 90vw;
    padding: 0;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.card--banner {
    display: block;
    height: 10em;
    width: 50rem;
    max-width: 100%;
    background-image: url("/frontendMentor/profile-card-component/images/bg-pattern-card.svg");
    background-origin: border-box;
    background-size: cover;
    border-radius: 1.5rem 1.5rem 0 0;
    
    
}

.card--pfp {
    width: 35%;
    max-width: 35%;
    height: auto;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 18%;
    border: .5rem solid white;
    background-color: white;
    border-radius: 50%;
    
}

.card--pfp > img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /* width: 50%; */
    /* max-width: 100%; */
    /* height: auto; */
    background-color: white;
    border-radius: 50%;
    display: block;
}

.card--content {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    line-height: 1;
    margin-top: 30%;

}

h1 {
    font-size: 2em;
    color: hsl(229, 23%, 23%);
    margin: 0 .5em .5em 0;
}

.card--content > span {
    font-size: 2em;
    color: HSL(227, 10%, 46%);
}

.card--location {
    font-size: 1.25em;
    display: block;
    color: HSL(227, 10%, 46%);
    margin: 0 0 2em 0;
}

hr {
    height: .1em;
    background-color: hsl(0, 7%, 94%);
    border: none;
}

.card--social {
    display: flex;
    justify-content: space-around;
    margin: 0 1em;
}

.card--stat {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    text-align: center;
    margin: 2.5em 0;
    
}

.card--stat > span:first-of-type {
    color: HSL(229, 23%, 23%);
    font-weight: 700;
    display: block;
    font-size: 2.5rem;
    width: 100em;
    margin-bottom: .3em;
}

.card--stat > span + span {
    display: block;
    color: hsl(0, 0%, 59%);
    width: 100em;
    font-size: .9em;
}

/**Responsive**/
@media screen and (min-width: 560px) {
    .card--pfp {
    top: 15%;
    }

}