/* Box Model Hack */
*, *:before, *:after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clear fix hack */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;

}

.clear {
    clear: both;
}

/* html * {
    outline: red 1px solid;
} */
/**Base styles*/
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-image: url("/frontendMentor/profile-card-component/images/bg-pattern-top.svg"), url("/frontendMentor/profile-card-component/images/bg-pattern-bottom.svg");
    background-origin: border-box, border-box;
    background-position: top -60vh right 50vw, bottom -60vh right -180vw;
    display: flex;
    background-repeat: no-repeat, no-repeat;
}

.card {
    /* display: flex; 
    flex-direction: column;  */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50rem;
    max-width: 100%;
    height: fit-content;
    max-width: 90vw;
    padding: 0;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.card--banner {
    display: block;
    height: 10em;
    width: 50rem;
    max-width: 100%;
    background-image: url("/frontendMentor/profile-card-component/images/bg-pattern-card.svg");
    background-origin: border-box;
    background-size: cover;
    border-radius: 1.5rem 1.5rem 0 0;
    
    
}

.card--pfp {
    position: absolute;
    bottom: 45%;
    left: 35%;
}
.card--pfp > img {
    border-radius: 50%;
    border: .5rem solid white;
}

.card--content {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    line-height: 1;
    margin-top: 1em;
}

h1 {
    margin: .5em .5em 0 0;
    font-size: 2em;
    color: hsl(229, 23%, 23%);
}

.card--content > span {
    margin: .5em 0;
    font-size: 2em;
    color: HSL(227, 10%, 46%);
}

.card--location {
    display: block;
    color: hsl(0, 0%, 59%);
    margin: 0 0 2em 0;
}

hr {
    height: .1em;
    background-color: hsl(0, 7%, 94%);
    border: none;
}

.card--social {
    display: flex;
    justify-content: space-around;
    margin: 0 1em;
}

.card--stat {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    text-align: center;
    margin: 2.5em 0;
    
}

.card--stat > span:first-of-type {
    color: HSL(229, 23%, 23%);
    font-weight: 700;
    display: block;
    font-size: 2.5rem;
    width: 100em;
    margin-bottom: .3em;
}

.card--stat > span + span {
    display: block;
    color: hsl(0, 0%, 59%);
    width: 100em;
    font-size: .9em;
}
/* .card--stats > span {
    display: inline;
} */
/*desktop bg
background-image: url("/frontendMentor/profile-card-component/images/bg-pattern-top.svg"), url("/frontendMentor/profile-card-component/images/bg-pattern-bottom.svg");
    background-origin: border-box, border-box;
    background-position: top -60vh right 50vw, bottom -120vh right -50vw;
    background-repeat: no-repeat, no-repeat;
*/
/* .bg-top {
    max-width: 100%;
    height: 100vh; 
    background: hsl(185, 75%, 39%) url("/frontendMentor/profile-card-component/images/bg-pattern-top.svg") left 50% top 50% no-repeat;
}
.bg-bottom {
    max-width: 100%;
    height: 100vh; 
    background: hsl(185, 75%, 39%) url("/frontendMentor/profile-card-component/images/bg-pattern-bottom.svg") right bottom no-repeat;
} */